<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController as navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <i class="fa fa-paw"></i> Like Sencha
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right nav-date">
        <li class="only-static-top"><hr /></li>
        <li>Current date: {{ navbar.date | date:'yyyy-MM-dd' }}</li>
      </ul>

    </div>
  </div>
</nav>

<!-- navbar navbar-inverse navbar-fixed-top -->