<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <i class="glyphicon glyphicon-equalizer"></i> Like Sencha
      </span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': active.home}"><a ng-href="#/">Home</a></li>
        <li ng-class="{ 'active': active.tabs}"><a ng-href="#/tabs">Tabs</a></li>
        <li ng-class="{ 'active': active.accordion}"><a ng-href="#/accordion">Accordion</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right nav-date">
        <li class="only-static-top"><hr /></li>
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>

    </div>
  </div>
</nav>

<!-- navbar navbar-inverse navbar-fixed-top -->